<section class="intro-text">
	<div class="intro">
		<h1>Welcome to Rchat</h1>
		<p>A simple websockets chat platform built with Ruby on Rails.</p>
		<p><a class="js-form-login-toggle" href="#0">Log in</a> or <a href="/users/signup">sign up</a> to get started!</p>
	</div>	
</section>